*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #23242b;
}
.box1{
    position: relative;
    width: 390px;
    height: 420px;
    background-color: #1c1c1c;
    border-radius: 9px;
    overflow: hidden;
}
.box1::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 390px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}
.border{
    position: absolute;
    top: 0;
    inset: 0;
}
.border::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 390px;
    background: linear-gradient(0deg,transparent,
    transparent,#d4342e,#d4342e,#d4342e);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}
.border::after{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 390px;
    background: linear-gradient(0deg,transparent,
    transparent,#d4342e,#d4342e,#d4342e);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}
.box1::before{
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    height: 420px;
    width: 390px;
    background: linear-gradient(0deg,transparent,
    transparent,#45f3ff,#45f3ff,#45f3ff);
    z-index: 1;
    transform-origin: bottom right;
    animation: animate 6s linear infinite;
}
@keyframes animate{
    0%
    {
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.box1 form{
   position: absolute;
   inset: 4px;
   background: #222;
   padding: 50px 40px;
   border-radius: 10px;
   z-index: 2;
   display: flex;
   flex-direction: column;
}
.box1 form h2{
    color: #fff;
    font-weight: 500;
    text-align: center;
    letter-spacing: 0.1em;
}
 .inputbox{
  position: relative;
  width: 300px;
  margin-top: 30px;
}
.inputbox input{
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    color:#000;
    font-size: 16px;
    letter-spacing: 0.05em;
    transition: 0.5s;
    z-index: 10;
}
.inputbox span{
    position: absolute;
    left: 0;
    padding: 20px 10px 10px;
    pointer-events: none;
    color: #ccc;
    font-size: 16px;
    letter-spacing: 0.05em;
    transition: 0.5s;
}
.inputbox input:valid ~ span,
.inputbox input:focus ~ span
{
  color: #fff;
  font-size: 0.75em;
  transform: translateY(-34px);
}
.inputbox i{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #fff;
    border-radius: 5px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}
.inputbox input:valid ~ i,
.inputbox input:focus ~ i{
    height: 44px;
}
.link{
    display: flex;
    justify-content: space-between;
}
.link a{
    margin: 10px 0px;
    font-size: 0.75em;
    color: #ccc;
    text-decoration: none;
}
.link a:hover,
.link a:nth-child(2){
    color: #fff;
}
.inputbox input[type="submit"]{
    border: none;
    outline: none;
    padding: 10px 25px;
    background-color: #fff;
    cursor: pointer;
    font-size: 0.9em;
    border-radius: 5px;
    font-weight: 600;
    width: 100%;
    margin-top: 10px;
}
.inputbox input[type="submit"]:active{
    opacity: 0.8;
}