*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;  
    font-family: sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #070707;
}
.head{
    background-color: #00A8cc;
    width: 500px;
    height: 70vh;
}
.search{
    display: flex;
    justify-content: center;
}
.search input{
   padding: 10px;
   width: 70%;
   margin-top: 10px;
   font-size: 15px;
   border-radius: 10px;
}
.search button{
    width: 10%;
    height: 35px;
    font-size: 20px;
    margin-top: 12px;
    border-radius: 50%;
    cursor: pointer;
    margin-left: 3px;
}

.weather{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-block: 30px;
}
.weather img{
    width: 40%; 
    
}
.cntnt p{
    margin: 20px 0px;
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    color: #faf5f5;
    position: relative;
}
.cntnt p sup{
    font-size: 20px;
    position: absolute;
    font-weight: 500;
}.cntnt h3{
    font-size: 20px;
    color: #faf5f5;
    font-weight: 600;
    text-align: center;
}
.details{
    width: 100%;
    color: #faf5f5;
   display: flex;
   justify-content: space-between;
}
.humidity{
    margin-left: 30px;
    display: flex;
    align-items: center;
   margin-top: 20px;
}
.wind{
    margin-right: 30px;
    display: flex;
    align-items: center;
   margin-top: 20PX;
}

.details .text{
    margin-left: 10px;
    font-size: 16px;
}
.text span{
    font-size: 20px;
    font-weight: 700;
}